
.ReactCollapse--collapse {
    transition: height 400ms;
  }
  .sub-bottom{
    border-top:none;
  }
  .sub-top{
    border-bottom:none;
  }

.urbanist {
  font-family: "Urbanist", sans-serif;
   font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
